# Demographic Data Analyzer

This project was made for [Data Analysis project for freecodecamp](https://www.freecodecamp.org/learn/data-analysis-with-python/data-analysis-with-python-projects/demographic-data-analyzer)

The dataset used in this project is made by Dua, D. and Graff, C. (2019). [UCI Machine Learning Repository](http://archive.ics.uci.edu/ml/index.php). Irvine, CA: University of California, School of Information and Computer Science.

The dataset was extracted from the 1994 Census database.

In [8]:
#importing libary
import pandas as pd

#importing data
data=pd.read_csv("adult.data.csv",sep=";")

How many people of each race are represented in this dataset?

In [6]:
#extracking from race column 
races=data.race.value_counts()
races

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

What is the average age of men?

In [17]:
average_age_man=data[data.sex=="Male"].age.mean()
round(average_age_man,2)

39.43

What is the percentage of people who have a Bachelor's degree?

In [16]:
bachelors=data.education.value_counts(normalize=True).Bachelors
round(bachelors*100,2)

16.45

What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [25]:
adv_education=((data["education"]=="Doctorate")|(data["education"]=="Masters")|(data["education"]=="Bachelors"))
adv_education_payment=data[adv_education].salary.value_counts(normalize=True)[">50K"]
round(adv_education_payment*100,2)

46.54

What percentage of people without advanced education make more than 50K?

In [28]:
low_education = ~adv_education
low_education_payment=data[low_education].salary.value_counts(normalize=True)[">50K"]
round(low_education_payment*100,2)

17.37

What is the minimum number of hours a person works per week?

In [29]:
min_work_hours=data["hours-per-week"].min()
min_work_hours

1

What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [30]:
min_hours_workers=data[data["hours-per-week"]==min_work_hours]
high_salary_min_workers=min_hours_workers.salary.value_counts(normalize=True)[">50K"]
round(high_salary_min_workers*100,2)

10.0

What country has the highest percentage of people that earn >50K and what is that percentage?

In [44]:
highest_earning_country = data.groupby('native-country')['salary'].value_counts(normalize=True)[:,'>50K'].sort_values(ascending=False)
print(f"{highest_earning_country.index[0]} is highest and percentage for that is {round(highest_earning_country[0]*100,2)}")

Iran is highest and percentage for that is 41.86

Identify the most popular occupation for those who earn >50K in India.

In [51]:
rich_indians=(data["salary"]==">50K")&(data["native-country"]=="India")
popular_occupation=data[rich_indians]["occupation"].value_counts()[:1].index[0]
print(f"The must occupied position in India is {popular_occupation}")

The must occupied position in India is Prof-specialty